/* HTML */
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3 rem;
  line-height: 1.5;
}
p{
  color: #8f8f8f;
}
/* ID */
#brand{
  font-size: 40px;
  color: #ffff;
  font-weight: bolder;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
}
#footer{
  background-color: #ffff;
  text-align: center;
  padding: 100px 0;

}
#fluidcontainer{
  padding: 3% 15%;
}
#features{
  padding: 7% 15%;
  margin: 0;
  background-color: #ffff;
  position: relative;
  z-index: 2;
}
#heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#ffff;
  padding-bottom: 40px;
}

#pricing{
text-align: center;
 padding: 100px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom:5%;
}
#title{
  background-color: #ff4c68;
}
#title{
  text-align: center;
}

#testimonials{
  background-color: #ef8172;
  text-align: center;
  color:#ffff;
}
/* CLASSES */
.cta-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 1.5;
  color:#ffff;

  padding: 50px 200px 30px;
}
.card-body{
  color: black;
}
.carousel-item{
  padding: 7% 25%;
}
.dog-image{
  border-radius: 100px;
  width: 15%;
  margin: 20px;
}
.down-btnn{
  margin-bottom: 80px;
}
.final-logo{
  color: black;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.iphoneimage{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 1
}
.icon{
  padding-bottom: 30px;
  color: #ef8172;
}
.icon:hover{
  color: #ff4c68;
}
.lgo{
  padding: 10px;
}
.nav-item{
  margin: 30px;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.price-heading{
  color: black;
}
.tricard{
   padding: 3% 2%;
}
/* MEDIA TAGS */
@media (max-width:790px) {
  .cta-heading{
    color: #ffff;
    font-size: 2.5rem;
    padding: 50px 200px 50px;
  }
  .down-btnn{
    width: 50%;
    margin: 20px;
}
}
@media (max-width:650px) {
  .cta-heading{
    color: #ffff;
    font-size: 2rem;
    padding: 50px 80px 50px;
  }
  .down-btnn{
    padding-right: 130px;
    margin: 20px;
  padding-right: 20px;
  }
}
@media (max-width:1028px) {
  .iphoneimage{
    position: static;
    padding-top: 30px;
    width: 60%;
    transform: rotate(0);
  }
}
